<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Kitty War</title>

    <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'main.css' %}" />
    <link rel = "stylesheet" type = "text/css" href = "{% static 'normalize.css' %}" />
    <link rel = "stylesheet" type = "text/css" href = "{% static 'responsive.css' %}" />
</head>

<body>
<header>
    <div id="index-title">
    <h1>Kitty War</h1>
    <a href="{% url 'kittywar:logout' %}"> <b>Log out</b> </a>
    </div>
    <nav>
      <!--unordered list-->
      <ul>
        <li><a href="{% url 'kittywar:home' %}" class="selected">Cats</a></li>
        <li><a href="{% url 'kittywar:chance' %}">Chance Cards</a></li>
        <li><a href="{% url 'kittywar:play' %} ">Find Match Here!</a></li>
      </ul>
    </nav>
</header>
<div id="wrapper">
    <h3>Congratuations! You have following cats...</h3>
    <section>
        <ul id="gallery">
            {% for cat in myvar%}
            <div id=catimg>
                <a href="{% url 'kittywar:ability' %}">
                <img src="{% static "" %}cat/{{cat.title}}.jpg" height="330" width="230"/>
                </a>

                <h4>Name:<a href="{% url 'kittywar:ability' %}"> {{cat.title}}</a></h4>
                <h4>Description: {{cat.description}}</h4>
                <h4>Health: {{cat.health}}</h4>
                <h4>Default: {{cat.default}}</h4>
            </div>
            {% endfor %}
        </ul>
    </section>
</div>
<div id="faq">
    <section>
        <h1>F &nbsp&nbsp A &nbsp&nbsp Q</h1>
    </section>
        <h3> What is Kitty War? &nbsp&nbsp&nbsp&nbsp&nbsp Cat Card Game!!</h3>
        <h3>What is the basic movement? &nbsp&nbsp&nbsp Purr&Guard&Scratch</h3>
        <h3>...</h3>
</div>

<footer>
    <p>Copyright &copy; 2017 Kitty War</p>
</footer>

</body>
</html>
