body {
    font-family: 'Open Sans', sans-serif;

    background: url(cat/register.jpg) no-repeat center;
    -webkit-background-size: cover;

}

a:visited {
    color:#000;
}

a.selected, a:hover {
  color: #e6539c;
}
.jumbotron {
    text-align: center;
    padding-right: 5%;
}

.form-group {
    padding-top: 5%;
}

.login {
    margin: 15em;
}

th {
     padding: 0.5em;
}

td {
    padding: 0.5em;
}
